.productModal {
  position: fixed;
  background-color: rgba(68, 67, 67, 0.788);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "NTSomic";
}

.productModal .modalContent {
  padding: 50px 40px;
  background-color: white;
  height: 95%;
  width: 65%;
  margin-right: 50px;
  border-radius: 25px;
  display: flex;
}

.modalContent img {
  height: 100%;
  max-width: 450px;
  object-fit: cover;
  border-radius: 50px;
}

.modalContent .productInfo {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.modalContent .productInfo h3 {
  font-size: 30px;
}

.modalContent .productInfo p {
  font-size: 15px;
  margin-top: 50px;
}

.modalContent .productInfo .buyButton {
  background-color: var(--pink);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  padding: 10px 0;
  border: 2px solid transparent;
}

.modalContent .exitButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent .buyButton:hover {
  background-color: white;
  border: 2px solid var(--pink);
  color: var(--pink);
  cursor: pointer;
}
